<form id = "character-form">
    <div class="form-group">
        <label for="exampleInputEmail1">Character Name:</label>
        <input id = "char-name" type="text" class="form-control" name = "name" id="characterName"  placeholder="Enter Character's name">
    </div>

    <div class="form-group">
        <label for="exampleInputEmail1">Character Parry:</label>
        <input id = "char-parry" type="text" class="form-control" name = "parry" id="characterName"  placeholder="Enter Character's name">
    </div>


    <div class="form-group">
        <label for="exampleInputEmail1">Character Toughness:</label>
        <input id = "char-toughness" type="text" class="form-control" name = "toughness" id="characterName"  placeholder="Enter Character's name">
    </div>

 
    <div class="form-group">
        <label for="exampleInputEmail1">Characters Skills</label>
        <textarea id = "char-skills" type="text-area" class="form-control" name = "skills" id="characterName" rows = "3" placeholder="Enter Character's name"></textarea>
    </div>


  <div class="form-group">
        <label for="exampleInputEmail1">Characters Weapons/Powers:</label>
        <textarea id = "char-weapons" type="text-area" class="form-control" name = "weapons" id="characterName" rows = "3" placeholder="Enter Character's name"></textarea>
  </div>

    <div class="form-group">
        <label for="exampleInputEmail1">Other Info:</label>
        <textarea id = "char-other" type="text-area" class="form-control" name = "other" id="characterName" rows = "3" placeholder="Enter Character's name"></textarea>
    </div>

    <button id = "submit" class="btn btn-primary">submit</button>
</form>
    <button id = "goback" class="btn btn-primary">go back</button>