<form action="/submit" method="post">
    <div class="form-group">
        <label for="exampleInputEmail1">Character Name:</label>
        <input type="text" class="form-control" id="characterName"  placeholder="Enter Character's name">
    </div>

    <div class="form-group">
        <label for="exampleInputEmail1">Character Parry:</label>
        <input type="text" class="form-control" id="characterName"  placeholder="Enter Character's name">
    </div>


    <div class="form-group">
        <label for="exampleInputEmail1">Character Toughness:</label>
        <input type="text" class="form-control" id="characterName"  placeholder="Enter Character's name">
    </div>

    <div class="form-group">
        <label for="exampleInputEmail1">Character Charisma:</label>
        <input type="text" class="form-control" id="characterName"  placeholder="Enter Character's name">
    </div>

    <!--ABILITY STATS-->
    <div class = "row">
        <div class = "col-md-2">
            <div class="form-group">
                <label for="exampleFormControlSelect1">Strength</label>
                <select class="form-control" id="exampleFormControlSelect1">
                    <option>D4</option>
                    <option>D6</option>
                    <option>D8</option>
                    <option>D10</option>
                    <option>D12</option>
                </select>
            </div>
        </div>
        <div class = "col-md-2">
            <div class="form-group">
                <label for="exampleFormControlSelect1">Agility</label>
                <select class="form-control" id="exampleFormControlSelect1">
                    <option>D4</option>
                    <option>D6</option>
                    <option>D8</option>
                    <option>D10</option>
                    <option>D12</option>
                </select>
            </div>
        </div>
        <div class = "col-md-2">
            <div class="form-group">
                <label for="exampleFormControlSelect1">Smarts</label>
                <select class="form-control" id="exampleFormControlSelect1">
                    <option>D4</option>
                    <option>D6</option>
                    <option>D8</option>
                    <option>D10</option>
                    <option>D12</option>
                </select>
            </div>
        </div>
        <div class = "col-md-2">
            <div class="form-group">
                <label for="exampleFormControlSelect1">Spirit</label>
                <select class="form-control" id="exampleFormControlSelect1">
                    <option>D4</option>
                    <option>D6</option>
                    <option>D8</option>
                    <option>D10</option>
                    <option>D12</option>
                </select>
            </div>
        </div>
        <div class = "col-md-2">
            <div class="form-group">
                <label for="exampleFormControlSelect1">Vigor</label>
                <select class="form-control" id="exampleFormControlSelect1">
                    <option>D4</option>
                    <option>D6</option>
                    <option>D8</option>
                    <option>D10</option>
                    <option>D12</option>
                </select>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="exampleInputEmail1">Characters Skills</label>
        <textarea type="text-area" class="form-control" id="characterName" rows = "3" placeholder="Enter Character's name"></textarea>
    </div>


  <div class="form-group">
        <label for="exampleInputEmail1">Characters Weapons/Powers:</label>
        <textarea type="text-area" class="form-control" id="characterName" rows = "3" placeholder="Enter Character's name"></textarea>
  </div>

    <div class="form-group">
        <label for="exampleInputEmail1">Other Info:</label>
        <textarea type="text-area" class="form-control" id="characterName" rows = "3" placeholder="Enter Character's name"></textarea>
    </div>

    <input type="submit" class="btn btn-primary">
</form>
